<html>  
    <head>    
        <meta charset="utf-8">    
        <title>update Template</title>     
    </head>  
    <body>
        <div>
            <form action="/updateProducts" method="PUT">
                <label for="ProdID">ProdID:</label><br>
                <input type="text" id="ProdID" name="ProdID" value="{{.ProdID}}"><br>
                <label for="ProdName">ProdName:</label><br>
                <input type="text" id="ProdName" name="ProdName" value=""><br>
                <label for="ProdDsp">ProdDsp:</label><br>
                <input type="text" id="ProdDsp" name="ProdDsp" value=""><br>
                <label for="ProdPrice">Price:</label><br>
                <input type="text" id="ProdPrice" name="ProdPrice" value=""><br>
                <label for="ProdQuantity">Quantity:</label><br>
                <input type="text" id="ProdQuantity" name="ProdQuantity" value=""><br><br>
                <input type="submit" value="Submit">
              </form>
        </div>
    </body> 
    </html>