<html>  
    <head>    
        <meta charset="utf-8">    
        <title>First Template</title>     
    </head>  
    <body>    
        <div>
            <p>Product Name {{.ProdName}}</p>
            <p>Product Price {{.ProdPrice}}</p>
            <button onclick="window.location.href = '/addCart.html';" style="width: 50px;height: 50px;">Click here</button>
            <form action="/changeProduct">
            <label for="ProdID">Prod ID:</label><br>
            <input type="text" id="ProdID" name="ProdID" value="{{.ProdID}}"><br>
            <label for="ProdName">Product Name:</label><br>
            <input type="text" id="ProdName" name="ProdName" value="{{.ProdName}}"><br>
            <label for="ProdDsp">Prod Dsp:</label><br>
            <input type="text" id="ProdDsp" name="ProdDsp" value="{{.ProdDsp}}"><br>
            <label for="ProdPrice">Price:</label><br>
            <input type="text" id="ProdPrice" name="ProdPrice" value="{{.ProdPrice}}"><br>
            <label for="ProdQuantity">Quantity:</label><br>
            <input type="text" id="ProdQuantity" name="ProdQuantity" value="{{.ProdQuantity}}"><br><br>
            <input type="submit" value="Submit">
            <!-- <button onclick="window.location.href = '/updateProduct.html/?id={{.ProdID}}';" style="width: 50px;height: 50px;">update product</button> -->
            </form>
        </div>
    </body> 
    </html>